# System files
.DS_Store
Thumbs.db

# Dependencies
node_modules/
vendor/

# Local config
.env
.env.local

# Logs
*.log

# IDE
.vscode/
.idea/

# GitHub Pages temp
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata